<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="blog" style="padding-top: 20px;">
            <h3>博客</h3>
            <form action="{% url 'blog_get_blog' user_id %}"  method="post">
                {% csrf_token %}
                <div class="input-field" style="padding-top: 50px">
                        <div class="title">
                    标题：<input name="title" type="text" style="weight:100px;height:25px"/>
                            </div>
                    正文：
                        <div class="txt" style="padding-top: 25px">
                    <textarea name="content" rows="50" cols="200">
                        </textarea>
                            </div>
                    </div>
                <button type="submit" style="margin-top: 10px">保存</button>
            </form>
        </div>
</body>
</html>